body {
  margin: 0;
  font-family: SF Pro Display;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 960px;
  display: flex;
  
  justify-content: space-between;
}
.section1 {
  width: 65%;
}
.section2{
  width: 35%;
}
