body {
  margin: 0;
  font-family: SF Pro Display;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 30px;
  width: 960px;
  
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row2{
  display: flex;
  justify-content: space-between;
  
}
.section1 {
  width: 64%;
}
.section2{
  width: 32%;
}
@media (max-width:970px){
  .App{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
  }
  .container{
    
    width: 100%;
    padding: 20px;
  }
  .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .section1 ,.section2{
    width: 95%;  
  }
  
}
